@media (max-width: 992px) {
    .sidebar{
        position:absolute;
        left:-250;
        top:0;
        bottom:0;
        z-index:10;
        width:250;
    }
    .sidebar.active{
        left:0;
    }
}

.sidebar{
    background:darkslategrey;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


input::-webkit-calendar-picker-indicator{
    display: none;
}


input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}