html,body{
    height:100%;
    margin:0;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}


input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}


input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
    line-height:inherit;
}


fieldset{
    margin-bottom:60px;
}


#page-sidebar{
    background:#eee;
    overflow:auto;
    padding:10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#page-sidebar input{
    width: 100%;
    max-width: 300px;
}

#page-header{
    height:50px;
    background:#202020;
    padding:8px 0;
    z-index:110;
    position:fixed;
}

#page-header-area{
    height:50px;
}



#logo {
    margin:0;
    font-size:19pt;
    line-height:19pt;
    color:#fff;
    text-decoration:none;
}

#logo img{
    vertical-align:top;
    width:24px;
    height:24px;
    background:#fff;
    border-radius:2px;
    padding: 4px;
}

.logo-section{
    padding:0;
}



.create-poll ol{
    margin:0 0 0 40px;
    padding:0;
}

.create-poll ol li{
    list-style: none;
    margin:5px 15px 5px 5px;
}
.create-poll ol ol li{
    margin-right:0;
}

.create-poll .answer-adder{
    background:#eee;
}

#poll-create ol{
    margin-left:40px;
}
#poll-create ol .container-fluid{
    margin-left:45px;
}


label input, label textarea, label button{
    font-weight: normal;
}

.listPoll {
    margin-top: 25px;
    height: 300px;
    word-wrap: break-word;
}

.order-buttons{
    margin-top: 10px;
}

label{
    width:100%;
}



#page-header .form-control, #page-header .btn{
    height: 34px;
    padding: 6px 12px;
}
#page-header .btn{
    border-left:none;
}
#page-header .form-control{
    border-right:none;
}



#nav-toggler{
    visibility:hidden;
    background:transparent;
    border:none;
    padding:0;
    outline: 0;
    vertical-align: top;
    overflow:hidden;
    height:25px;
    width:25px;
}

#nav-toggler img{
    margin-left:-22px;
    height:100%;
    width:100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#nav-toggler:active{
    box-shadow:none!important;
    border:none;

}

#shaddowing {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
    background:rgba(0,0,0,0);
}







#page-footer{
    padding:10px;
    border-top:1px solid #ccc;
    margin-top:10px;
}



@media (max-width: 992px) {
    #page-sidebar{
        position:fixed;
        left:-250px;
        top:50px;
        bottom:0;
        z-index:100;
        width:250px;
    }
    #page-sidebar.active{
        left:0;
    }
    .listPoll {
        margin-top: 25px;
        height: 100px;
    }


    #shaddowing.active{
        z-index:90;
        background:rgba(0,0,0,0.6);
    }

    #nav-toggler.active img{
        margin-left:0;
    }

    #nav-toggler {
        visibility:visible;
    }
}

